.contentContainer{
    font-size: 1.3rem;
}


/* ====== Banner  ====================================================*/
#banner{
    overflow: hidden;
}
/* ====== About Me  ====================================================*/

#AboutMe picture{
   
    display: inline-block;
    width: auto;
    width: 150px;
}



/* ====== Porfolio ====================================================*/
#Portfolio{
    overflow: hidden;
}

.showcaseContainer {
    width: 100%;
}