.flexContainer {
    align-content: first baseline;
}

.contentContainer {
    font-size: 1.5rem;
    opacity: 0;
    line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;

}

h1 {
    font-size: 5rem;
    font-weight: 100;
}

h2 {
    margin-top: 50px;
}

.expand {
    opacity: 1;
}

/* ====== Banner  ====================================================*/
#banner {
    overflow: hidden;
}

/* ====== About Me  ====================================================*/

#contentWrapper {
    width: 100vw;
    height: 100vh;
}

/* ====== Porfolio ====================================================*/
#Portfolio {
    overflow: hidden;
}

.showcaseContainer {
    width: 95%;
}


.showcaseContainer:hover .projectDescription {
    height: 35%;
}

.contentInterDisply {
    overflow-y: scroll;
}


@media only screen and (max-width: 768px)  {
    .projectDescription {
        font-size:0.65em;
    }
    h1{
        font-size: 2.5em;
    }
    
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .projectDescription {
        font-size:0.85em;
    }

}

@media only screen and (max-height: 450px) {
    h1{
        line-height: 1em;
    }
    .contentInterDisply{
        height: 60%;
    }

}
@media only screen and (max-width: 450px) {
   
    .projectDescription{
        width: 95%;
        font-size: 0.5em;
    }

}


