/*======  Universal Style ===========================================*/

* {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}
body{
    display: grid;
    transition: grid;
    transition-duration: 1s;
    height: 100vh;
    align-items: normal;
}

table {
    border: 0px;
    border-spacing: 0px;
}


h1,h2,h3,h4,h5,h6{
    font-family: "Lato", sans-serif;
    margin: 20px 0;
    transition-property: font-size, margin;
    transition-duration: 1.5s;
}

h1{
    font-size: 5rem;
    font-weight: 100;
   
}

.contentContainer{
    padding: 0 80px ;
    box-sizing: border-box;
    position: relative;
    opacity: 1;
    z-index: 1;
    transition-property: font-size opacity z-index;
    transition-duration: 0.5s;
    overflow: hidden;
}

.containerShaddow{
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.45);

}
.end{
    height: 60px;
    display: block;
}



/*---- Flex Style-----*/
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    align-items:self-start;
    align-content: flex-start;
    transition-property: flex align-content;
    transition-duration: 1.5s;
    
    

}

.flexOneRow {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.flexeTwoItemsRow {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}
    
/*---- Zoom Button Style-----*/
.zoomBtn {
    display: block;
    float: right;
    position: absolute;
    right:10% ;
    top:20px;
    cursor: pointer;
}

/*---- Hidden Section-----*/
.expand{
    display: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 3s;
    padding: 0;
}



/* ====== Header  ====================================================*/

header {
    background-color:white;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px 25px black;
    z-index: 10;
    display: grid;
    grid-template-columns: 300px 1fr;
    box-sizing: border-box;
    align-items: center;

}



header h1 {
    color: gray;
    font-weight: thin;
    margin-left: 10px;
}

/* ----- (1st Level ) Navigation   -----*/

header nav {
    justify-self: end;
    flex-basis: 600px;
    flex-shrink: 0;
}



header nav,
header nav ul,
header nav li {
    display: flex;
    color: gray;

}

header nav li {
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

header nav li::before{
    content: '|';
    margin-right: 20px;
    font-weight: bold;
    color: black;
}


/* ====== Banner  ====================================================*/
#banner{
    width: 100%;
    background-color: #034C3C;
    grid-row: 1/2;
    overflow: hidden;
}

#bannerdisplay{
    min-width: 750px;
    max-width: 1300px;
    height: 450px;
    overflow:visible;
    /*border: 1px solid black;*/
    position: relative;
    margin: 0 auto;
}

#avatar{
    background-color: #a1cebb;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 300px;
    margin: 0 auto;
    bottom: -20px;
    border-radius: 200px 200px 0 0 ;
}
#avatar img{
    height: 300px;
    margin-top: 50px;
}

#jobTitle{
    color: white;
    position: relative;
    top: 30%;
    left:50px;
    max-width: 35%;
}
#jobTitle span{
    font-size: 3.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

#jobTitle div{
    background-color: #ffd639;
    color: #034C3C;
    font-weight: 800;
    display: block;
    position: relative;
    top: -5px;
    left: -25px;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transform: rotate(-15deg);
}

#bannerdisplay .circleOne, #bannerdisplay .circleTwo {
    background-color:#a1cebb ;
    opacity: 0.35;
    display: block;
    border-radius: 100%;
    position: absolute;
}

#bannerdisplay .circleOne{
    width: 350px;
    height: 350px;
    bottom: -80px;
    left: -30px;

}
#bannerdisplay .circleTwo{
    width: 150px;
    height: 150px;
    top: 60px;

}

#bannerdisplay .introduction{
    max-width: 30%;
    position: absolute;
    right: 20px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    line-height: 1.5;
    text-align: center;
    font-size: 1.25rem;

}

#bannerdisplay .introduction p{
    margin-bottom: 10px;
}

/* ====== About Me  ====================================================*/

#AboutMe{
    background-color: #a1cebb;
    color: #034C3C;
    transition-property: font;
    transition-duration: 1s;
    grid-row: 2/3;
}


#AboutMe picture{
    height: 150px;
    border-radius: 50% 0% 50% 0%;
    background-image: url(../media/image/profilePic.png);
    background-size: cover;
    border: 3px solid white;

    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 100px;

    transition-property: width height;
    transition-duration: 1s;

    flex-basis: 50px;

}

#AboutMe div.introduction{
    display: flexbox;
    flex: 1 1 450px;
    padding: 0px 50px;
}
#AboutMe ul , #AboutMe li{
    display: flex;
    flex-wrap: wrap;
    
}
#AboutMe li {
    margin: 10px;
    background-color: white;
    flex-basis: 20%;
    padding: 10px;
    border-radius: 10px;
    transition: font 2s;

}

#AboutMe em {
    margin: 0 10px;
    font-weight: 500;
}

#AboutMe .resume{
    border:  2px solid white;
    color: white;
    border-radius: 25px ;
    padding:10px; 
    margin: 0px 15px;
    cursor: pointer;
    background-color: #a1cebb;
    transition-property: background-color , color ;
    transition-duration: 0.5s;
    
}

#AboutMe .resume:hover{
    background-color: white;
    color: #034C3C;
}

/* ====== Porfolio ====================================================*/
#Portfolio {
    background-color: #FFD639  ;
    width: 100%;
    grid-row: 3/4;
}

.showcaseContainer{
    overflow: hidden;
    border: 2px solid white;
    background-color: rgb(33, 30, 47);
    height: 250px;
    width: 350px;
    border-radius: 10px;
    position: relative;
    transition-property: width flex;
    transition-duration: 1s;
}

.projecttype{
    background-color: white;
    color: black;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    padding: 3px 30px;
    top: 20px;
    left: -5px;
    transform: rotate(-5deg);
}

.showcaseContainer img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    position: absolute;
    right: -10px;
    bottom:-10px;
    transform: rotate(-15deg);
    box-shadow: 0 0px 25px grey;
}

.projectDescription{
    width: 100%;
    border-radius: 5px;
    background-color: #FFD639;
    position: absolute;
    bottom: -20px;
    padding: 10px;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    height: 0%;
    transition-property: height;
    transition-duration: 0.5s ;
}

.projectTitle {
    font-display: block;
    color: white;
    font-weight:300;
    font-size: 4rem;
    position: absolute;
    top:50px ;
    left:10px;
    opacity: 0.4;
    line-height: 1;

}
/* ====== Contact ====================================================*/
#Contact{
    background-color: #E2B1B1;

}

.iconSet img{
    height: 100px;
}




/* ---  desktop ---*/